
body, nav, ul, li, a, p, h1, h2, h3, h4, h5, h6, img, div {
  margin: 0;
  padding: 0;
}

/* Header */

/* Navigation */

nav {
  font-size: 150%;
}

/* List */

ul {
  width: 100%;
  overflow: hidden;
  list-style-type: none;
  background-color: #0573A3;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

#name {
  float: right;
}
/*
li a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}*/

li a:hover {
  background-color: inherit;
}

li a.navi:hover {
    color: white;
    background-color: grey;
    text-decoration: none;
}
li a.navi:active {
    background-color: transparent;
}

/* Body */

body {
  background-color: grey;
}

/* Images */

img {
  width: 100%;
  top: 0;
  vertical-align: bottom;
}

/* Section */


/* Division */

div.normal {
  margin-left: 15%;
  margin-right: 15%;
  padding-left: .5%;
  padding-right: .5%;
  padding-bottom: .2%;
  background-color: white;
}

/* Link */

/*a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: grey;
    text-decoration: none;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}*/
