
body, nav, ul, li, a, p, h1, h2, h3, h4, h5, h6, img, div {
  margin: 0;
  padding: 0;
}

/* Header */

/* Navigation */

nav {
  font-size: 150%;
}

/* List */

ul {
  width: 100%;
  overflow: hidden;
  list-style-type: none;
  background-color: #0573A3;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

#name {
  float: right;
}
/*
li a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}*/

li a:hover {
  background-color: inherit;
}

li a.navi:hover {
    color: black;
    background-color: grey;
    text-decoration: none;
}
li a.navi:active {
    background-color: transparent;
}

/* Body */

body {
  background-color: grey;
}

/* Images */

img {
  width: 100%;
  top: 0;
  vertical-align: bottom;
}

/* Section */


/* Division */

div {
  margin-top: 1%;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding: 1%;
  background-color: #ECF9FF;
  border-radius: 4px;
}

div.intro {
  padding: 2%;
  text-align: center;
}
