
body, nav, ul, li, a, p, h1, h2, h3, h4, h5, h6, img, div {
  margin: 0;
  padding: 0;
}

/* Header */

/* Navigation */

nav {
  font-size: 150%;
}

/* List */

ul {
  width: 100%;
  margin-bottom: 2%;
  overflow: hidden;
  list-style-type: none;
  background-color: #0573A3;
}

li {
  float: left;
}

li a, .dropbtn {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

#active {
  background-color: #178CBE;
}

li:last-child {
  float: right;
  padding-left: .5%;
  padding-right: .5%;
  background-color: #046088;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: inherit;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

li a.navi:hover {
    background-color: grey;
    text-decoration: none;
}
/*li a.navi:active {
    background-color: transparent;
}*/

/* Body */

body {
  background-color: grey;
}

/* Images */

img {
  width: 100%;
  top: 0;
  vertical-align: bottom;
}

/* Section */


/* Division */

div {
  margin-bottom: 2%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #ECF9FF;
  border-radius: 4px;
}

div.intro {
  padding: 2%;
  text-align: center;
}
