
body, nav, ul, li, a, p, h1, h2, h3, h4, h5, h6, img, div {
  margin: 0;
  padding: 0;
}

/* Responsive Web Design */

* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Media */
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.navbtn {
  margin: 0;
  height: 51px;
  display: block;
  position: fixed;
  float: left;
  content: url("optionlogo.png");
  background-color: #045B81;
}

.navbtn:hover + ul, ul:hover {
  display: block;
}

li.name {
  display: none;
}

li {
  float: none;
  width: 100%;
}

li.dropdown:hover ul{
  display: inline;
}

ul {
  display: none;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  .left-m {float: left;}
  .right-m {float: right;}
  .none-m {float: none;}

  .marg-m-1 {margin-left: 4.165%;margin-right: 4.165%;}
  .marg-m-2 {margin-left: 8.33%;margin-right: 8.33%;}
  .marg-m-3 {margin-left: 12.5%;margin-right: 12.5%;}
  .marg-m-4 {margin-left: 16.66%;margin-right: 16.66%;}
  .marg-m-5 {margin-left: 20.83%;margin-right: 20.83%;}
  .marg-m-6 {margin-left: 25%;margin-right: 25%;}
  .marg-m-7 {margin-left: 29.165%;margin-right: 29.165%;}
  .marg-m-8 {margin-left: 33.33%;margin-right: 33.33%}
  .marg-m-9 {margin-left: 37.5%;margin-right: 37.5%;}
  .marg-m-10 {margin-left: 41.66%;margin-right: 41.66%}
  .marg-m-11 {margin-left: 45.83%;margin-right: 45.83%;}
  .marg-m-12 {margin-left: 50%;margin-right: 50%}


  ul {
    display: block;
  }

  .navbtn {
    display: none;
  }

}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;min-width: 768px;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  .left {float: left;}
  .right {float: right;}
  .none {float: none;}

  .marg-1 {margin-left: 4.165%;margin-right: 4.165%;}
  .marg-2 {margin-left: 8.33%;margin-right: 8.33%;}
  .marg-3 {margin-left: 12.5%;margin-right: 12.5%;}
  .marg-4 {margin-left: 16.66%;margin-right: 16.66%;}
  .marg-5 {margin-left: 20.83%;margin-right: 20.83%;}
  .marg-6 {margin-left: 25%;margin-right: 25%;}
  .marg-7 {margin-left: 29.165%;margin-right: 29.165%;}
  .marg-8 {margin-left: 33.33%;margin-right: 33.33%}
  .marg-9 {margin-left: 37.5%;margin-right: 37.5%;}
  .marg-10 {margin-left: 41.66%;margin-right: 41.66%}
  .marg-11 {margin-left: 45.83%;margin-right: 45.83%;}
  .marg-12 {margin-left: 50%;margin-right: 50%}


  li {
    float: left;
    width: auto;
  }

  li.name {
    display: block;
  }

  li ul {
    width: auto;
  }
}

/* Header */

/* Navigation */

nav {
  font-size: 150%;
}

/* List */

ul {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2%;
  list-style-type: none;
  background-color: #0573A3;
}

ul img {
  height: 50px;
  float: left;
  background-color: #046088;
}

li a {
  color: white;
  padding: 12px;
  display: block;
  text-align: center;
  text-decoration: none;
}

#active {
  background-color: #178CBE;
}

li.name {
  float: right;
  padding-left: .5%;
  padding-right: .5%;
  background-color: #046088;
}

li a:hover {
  background-color: #045B81;
  text-decoration: none;
}

li.name a:hover {
  background-color: inherit;
}
/* Drop Down List */

li ul {
  font-size: 85%;
  width: 100%;
  max-width: 150px;
  display: none;
  position: absolute;
  background-color: #CCCCCC;
  box-shadow: -2px 2px 8px 0px rgba(0,0,0,0.2);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

li ul li {
  float: none;
}

li ul li a {
  color: #303030;
  padding-left: 24px;
  padding-right: 24px;
}

li ul li a:hover {
  color: white;
  background-color: #4E4E4E;
}
/* Body */

body {
  background-color: #808080;
}

/* Images */

img.banner {
  width: 100%;
  top: 0;
  vertical-align: bottom;
}

/* Section */


/* Division */

div {
  margin-bottom: 2%;
  border-radius: 2px;
}

div.intro {
  font-size: 120%;
  text-align: center;
  background-color: #F2F1F1;
}

div.intro h1 {
  color: white;
  padding: 1.5%;
  background-color: #4E4E4E;
}

div.intro p {
  padding: 3%;
  padding-left: 10%;
  padding-right: 10%;
}

div.single {
  padding-top: 1.75%;
  padding-bottom: 1.75%;
  background-color: #F2F1F1;
}

div.single h1, div.single h2,div.single h3,
div.single h4, div.single h5,div.single h6 {
  color: white;
  padding: 0.5%;
  overflow: hidden;
  display: table;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #4E4E4E;
}

div.single p {
  padding: 1.5%;
  padding-left: 5%;
  padding-right: 5%;
}
