
body, nav, ul, li, a, p, h1, h2, h3, h4, h5, h6, img, div {
  margin: 0;
  padding: 0;
}

/* Header */

/* Navigation */

nav {
  font-size: 150%;
}

/* List */

ul {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2%;
  list-style-type: none;
  background-color: #0573A3;
}

li {
  float: left;
}

li a {
  color: white;
  padding: 12px;
  display: block;
  text-align: center;
  text-decoration: none;
}

#active {
  background-color: #178CBE;
}

li.name {
  float: right;
  padding-left: .5%;
  padding-right: .5%;
  background-color: #046088;
}

li a:hover {
  background-color: #045B81;
  text-decoration: none;
}

li.name a:hover {
background-color: inherit;
}

/* Drop Down List */

li ul {
  width: auto;
  max-width: 150px;
  display: none;
  position: absolute;
  background-color: lightgrey;
  box-shadow: -2px 2px 8px 0px rgba(0,0,0,0.2);
  /*border-bottom-left-radius: 4px;
  border-bottom-right-radius: 8px;*/
}

li ul li {
  float: none;
}

li ul li a {
  color: black;
  padding-left: 24px;
  padding-right: 24px;
}

li ul li a:hover {

}

li.dropdown:hover ul{
  display: inline;
}

/* Body */

body {
  background-color: grey;
}

/* Images */

img {
  width: 100%;
  top: 0;
  vertical-align: bottom;
}

/* Section */


/* Division */

div {
  margin-bottom: 2%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  background-color: #ECF9FF;
  border-radius: 4px;
}

div.intro {
  padding: 2%;
  text-align: center;
}
